.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80v
}

.allBottles {
  display: flex;
  justify-content: center;
}

.item {
  margin: 10px;
  padding: 3px;
  text-align: center;
}

.flipCard {
  width: 150px;
  height: 200px;
  border: 1px solid red;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 150px
}
