.navy {
  min-width: 100%;
  max-height: inherit;
  display: inline;
  position: fixed;
  z-index: 1;

}

.btn{
  color: white;
}

.navbot{
  max-height: 65px;
  background-color: white;

}
.navbar-brand{
  max-height: 70px;
}

a{
  color: teal;
}


.NavDropdown{
  margin-top: 10vh;
}

.cancel-submit {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

body {
  background-image:
  linear-gradient(to bottom, rgb(30, 36, 34, 0.42), rgba(225, 225, 225, 0.33)),
  url("https://images.unsplash.com/photo-1520776174717-a1ea0e6069df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: inherit;
  height: auto;
  font-family: monospace;
}

.navbar-nav {
width: auto;
}

.flipCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
  padding: 10px;
  background-color: white;
  border-radius: 5%
}
.bot_item{
  border-top: 1.5px solid gray;
  width: 85%;
}

.card {
  margin-top: 25vh;
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.allBottles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px;
  width: 100vw;
}

.item {
  margin: 20px;
  padding: 15px;
  text-align: center;
}

.flipCard {
  width: 150px;
  height: 200px;
  padding: 10px;
  background-color: rgb(255,255,255, 0.8);
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 6%
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
  padding: 5%;
  border-radius: 12px;
  background-color: rgb(255,255,255, 0.8);
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
}
.button{
  background: transparent;
}

.card {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px
}
img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 25%;
}

.logobottle{
  align-items: center;
  background-color: grey;
}

.logo{
  max-height: 20px;
}

.cardFront {
  border: 1px solid black;
  background-color: rgb(255,255,255,0.80);
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
  width: 20vw;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  margin: 10px;
  border-radius: 7%;
}

h5{
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flipCardA {
  width: 300px;
  display: grid;
  justify-content: center;
  justify-content: space-between;
  height: 300px;
  padding: 10px;
  background-color: rgb(255,255,255, 0.8);
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 6%;
}

.devs{
  background-attachment: fixed;
  background-color: rgb(255,255,255,0.2);
  display: flex;
  justify-content: space-around;
  margin-top: 13%;
  width: 85vw;
  height: 80vh;
  /* backdrop-filter: blur(2px); */
  border-radius: 25px;
  padding-right: 5%;
  padding-left: 5%;
}

.aboutCards{
  width:250px;

}
.devContainer{
  margin-top: 9vh;
  border-radius: 25px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);


}



.devCard{
  background-color: rgb(255,255,255,0.7);
  border-radius: 15px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;

}

.cardDevs{
  border: 1px solid rgb(77,97,95);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255,255,255, 0.8);
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
}

.item{
  font-weight: bold;
}
