.navy {
  min-width: 100%;
  max-height: inherit;
  display: inline;
}

.App{
  background-image:
  linear-gradient(to bottom, rgb(33, 37, 31, 0.2), rgba(225, 225, 225, 0.43)),
  url("https://images.unsplash.com/photo-1520776174717-a1ea0e6069df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-flex-start;
  align-items: center;
  max-width: inherit;
  height: auto;
}

.navbar-nav {
width: auto;
margin: 20;
max-height: 20px;
}

.flipCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
  padding: 10px;
  background-color: white;
  border-radius: 5%
}

.allBottles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.item {
  margin: 30px;
  padding: 15px;
  text-align: center;


}

.flipCard {
  width: 150px;
  height: 200px;
  padding: 10px;
  background-color: white;
  border-radius: 5%
}

.card {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .allBottles {
  max-width: 200px;
  max-height: auto;
} */

img {
  max-width: 100px;
  border-radius: 25%;
}

.logobottle{
  align-items: center;
  background-color: grey;
}

.logo{
  max-height: 20px;
}
