.navy {
  width: 100%;
  display: inline;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-flex-start;
  align-items: center;
  background:
    linear-gradient(to bottom, rgb(33, 37, 41, 0.52), rgba(225, 225, 225, 0.93)),
    url("https://images.unsplash.com/photo-1520776174717-a1ea0e6069df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80");
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-nav {
width: auto;
margin: 20;
}

.flipCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
  border: 1px solid red;
  padding: 10px;
  background-color: white;
  border-radius: 5%
}

.allBottles {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.item {
  margin: 10px;
  padding: 3px;
  text-align: center;
}

.flipCard {
  width: 150px;
  height: 200px;
  border: 1px solid red;
  padding: 10px;
  background-color: white;
  border-radius: 5%
}

.card {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


img {
  width: 100%;
  border-radius: 25%
}
